aiofiles==23.2.1
aiogram==2.20
aiogram-utils==0.0.15
aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.2.0
Babel==2.9.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
coloredlogs==15.0.1
decorator==5.1.1
dnspython==2.6.1
executor==23.2
fasteners==0.19
flightradar24==0.3.1
FlightRadarAPI==1.3.27
frozenlist==1.4.1
html5lib==1.1
humanfriendly==10.0
idna==3.6
jsonpath-rw==1.4.0
lxml==5.2.1
magic-filter==1.0.12
metar==1.11.0
mongoengine==0.24.1
multidict==6.0.5
ply==3.11
property-manager==3.0
pydantic==2.5.3
pydantic_core==2.14.6
pyflightdata==0.8.6.2
pymongo==4.6.2
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
typing_extensions==4.10.0
urllib3==2.2.1
verboselogs==1.7
webencodings==0.5.1
yarl==1.9.4
